<a href="https://colab.research.google.com/github/Mumenunnessa/Lab-DataMining/blob/main/Lab_5_DM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Personal things (important)/iris.csv')

In [ ]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
y = df['species']           
y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [ ]:
x = df.drop('species', axis=1)    
x

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [ ]:
from sklearn.model_selection import train_test_split   
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [ ]:
l = LabelEncoder()  
y_train = l.fit_transform(y_train)

In [ ]:
y_train

array([2, 1, 1, 0, 2, 0, 1, 2, 2, 2, 1, 0, 0, 2, 1, 0, 1, 1, 1, 0, 1, 2,
       2, 2, 2, 0, 0, 2, 0, 0, 1, 1, 0, 2, 1, 0, 2, 0, 2, 2, 2, 2, 2, 0,
       2, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 2, 1, 1, 2, 0, 1, 0, 0, 1,
       2, 2, 1, 1, 2, 1, 0, 0, 0, 1, 1, 2, 1, 1, 1, 0, 1, 0, 2, 0, 0, 0,
       2, 2, 2, 1, 2, 1, 2, 1, 0, 2, 2, 2, 1, 2, 2, 1, 2, 1, 1, 0, 0, 2,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 2])

In [ ]:
knn = KNeighborsClassifier(n_neighbors=3)    
knn.fit(x_train,y_train)
knn.predict(x_test)

array([0, 0, 0, 1, 1, 2, 2, 0, 2, 2, 1, 1, 1, 2, 1, 0, 1, 2, 1, 2, 2, 2,
       0, 2, 1, 1, 2, 1, 1, 0])

In [ ]:
knn.score(x_train,y_train)

0.975

In [ ]:
y_test = l.fit_transform(y_test)

In [ ]:
knn.score(x_test,y_test)

0.9333333333333333

In [ ]:
knn.predict([[4.7,3.5,1.4,0.2]])

array([0])

In [ ]:
from sklearn.naive_bayes import MultinomialNB

In [ ]:
mnb = MultinomialNB()     
mnb.fit(x_train,y_train)
mnb.predict(x_test)

array([0, 0, 0, 1, 1, 2, 2, 0, 2, 2, 1, 2, 1, 2, 1, 0, 1, 2, 2, 2, 2, 2,
       0, 2, 2, 1, 2, 1, 2, 0])

In [ ]:
mnb.score(x_train,y_train)

0.9833333333333333

In [ ]:
mnb.score(x_test,y_test)

0.8666666666666667

In [ ]:
mnb.predict([[5.0,2.5,,0.2]])

array([0])

In [ ]:
from sklearn.neighbors import KNeighborsRegressor

In [ ]:
knn1 = KNeighborsRegressor(n_neighbors=3)                     
knn1.fit(x_train,y_train)                        
knn1.predict(x_test)

array([0.        , 0.        , 0.        , 1.        , 1.        ,
       2.        , 1.66666667, 0.        , 1.66666667, 2.        ,
       1.        , 1.        , 1.        , 2.        , 1.        ,
       0.        , 1.        , 2.        , 1.        , 2.        ,
       2.        , 2.        , 0.        , 2.        , 1.33333333,
       1.        , 2.        , 1.        , 1.33333333, 0.        ])

In [ ]:
knn1.score(x_train,y_train)

0.9824409609120521

In [ ]:
knn1.score(x_test,y_test)

0.8854961832061068